<div class = "container">
  <h1>New Post</h1>
  <%= link_to("<< Back to List", posts_path, class: "btn btn-dark btn-sm") %><div><br><br></div>
  <%= form_for @post do |f| %>
      
 
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Title:</label>
      <div class="col-sm-8">
        <%= f.text_field :title, placeholder: 'Enter Title', class: "form-control"  %>        
      </div>
    </div>  
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Content:</label>
      <div class="col-sm-8">
        <%= f.text_area :content, placeholder: 'Enter Text', :size => '40x10', class: "form-control" %>       
      </div>
    </div>
   
    <div class="form-group row">
        <div class=" offset-sm-2 col-sm-5">
        <%= f.submit 'Update', class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  <% end %>
</div>

    